@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

*{
    padding:0;
    margin:0;
    box-sizing:border-box;
    font-family: "Inter",sans-serif;
}

#root{
    display: flex;
    align-items: center;
    justify-content:center;
    gap:20px;
    flex: wrap;
    min-height:100vh;
}

h3{
    margin:10px 0;
}

h6{
    margin: 6px 0;
    text-transform:uppercase;
}

p{
    font-size:14px;
    line-height:22px;
    text-align: center;
    margin-bottom: 10px;
}

.card-container{
    background-color:#19294d;
    border-radius:20px;
    box-shadow:0px 10px 20px -10px rgba(0,0,0,0.75);
    color:#afb7d7;
    padding-top:30px;
    width:350px;
    max-width:350px;
    text-align: center;
    position: relative;
}

span{
    text-transform:uppercase;
}

.img{
    width:180px;
    border:3px solid #0817a6;
    border-radius:50%;
    padding:8px;
    box-shadow: 0.4px 0.5px 4px 0.9px inset rgb(19, 19, 107);
}

.pro{
    color: #362e58;
    border-radius:3px;
    font-size:14px;
    font-weight: bold;
    padding:3px 7px;
    position:absolute;
    top:30px;
    left:25px;
}

.online{
    background-color:greenyellow;
}

.offline{
    background-color:#eb7e17;
}

.buttons{
    display: flex;
    justify-content: center;
    gap:10px;
}

button.primary{
    background-color:#0f66e0;
    border:1px solid #0f66e0;
    border-radius:6px;
    color:whitesmoke;
    font-family:"Inter",sans-serif;
    font-weight:500;
    padding: 10px 25px;
    letter-spacing: 1px;
}

button.outline{
    letter-spacing: 1px;
}

button.primary.outline{
    background-color: transparent;
}

button:hover.primary.outline{
    background-color: #0f66e0;
}

button:hover.primary{
    background-color: transparent;
}

.skills{
    background-color:#19294d;
    text-align: left;
    padding: 15px;
    margin-top: 15px;
    border-radius:20px;
}

.skills ul{
    list-style-type: none;
    margin:0;
    padding:0;
}

.skills ul li{
    border:1px solid #795d9c;
    display:inline-block;
    cursor: pointer;
    
}

.skills ul li{
    border:1px solid #795d9c;
    display:inline-block;
    border-radius:2px;
    padding:7px;
    margin:0 7px 7px 0;
    font-size:12px;
}

.skills ul li:hover{
    background-color:#19294d;
    color:#4089f1;
}
