@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

/* img {
    width: 150px;
    height: 150px;
} */

.app-container h1 {
    font-weight: 600;
    font-size: 26px;
    color: #3498db;
    border-bottom: 1px solid #f1efef;
    padding: 10px 0px;
}

.app-container {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.qrName {
    padding: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.16);
}

.input-label {
    display: block;
    margin-bottom: 8px;
    color: #3498db;
    font-size: 15px;
    font-weight: 500;
}

input[type="text"] {
    padding: 12px;
    margin-bottom: 20px;
    width: 100%;
    font-size: 16px;
    border: 2px solid #3498db;
    border-radius: 5px;
}

button {
    padding: 15px 20px;
    font-size: 18px;
    border: none;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.generate-button {
    background-color: #3498db;
}

.generate-button:hover {
    background-color: #1d74ae;
}

.generate-button:disabled {
    background-color: #bdc3c7;
    cursor: not-allowed;
}

.download-button {
    background-color: #27ae60;
    margin-left: 10px;
}

.download-button:hover {
    background-color: #219a52;
    margin-left: 10px;
}

.signed {
    margin-top: 30px;
}

.signed a {
    text-decoration: none;
    color: #3498db;
}